<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <h1>Access</h1>
            </div>
            <div class="col-12">
                <h2>{{database_message}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="POST" action="{% url 'discord:access' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="discord_id" class="form-label">Discord ID</label>
                        <input type="text" class="form-control" id="discord_id" name="discord_id" value="{{user.id}}">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{user.username}}">
                    </div>
                    <div class="mb-3">
                        <label for="avatar" class="form-label">Avatar</label>
                        <input type="text" class="form-control" id="avatar" name="avatar" value="{{user.avatar}}">
                    </div>
                    <div class="mb-3">
                        <label for="discriminator" class="form-label">Discriminator</label>
                        <input type="text" class="form-control" id="discriminator" name="discriminator" value="{{user.discriminator}}">
                    </div>
                    <div class="mb-3">
                        <label for="public_flags" class="form-label">Public Flags</label>
                        <input type="text" class="form-control" id="public_flags" name="public_flags" value="{{user.public_flags}}">
                    </div>
                    <div class="mb-3">
                        <label for="premium_type" class="form-label">Premium Type</label>
                        <input type="text" class="form-control" id="premium_type" name="premium_type" value="{{user.premium_type}}">
                    </div>
                    <div class="mb-3">
                        <label for="flags" class="form-label">Flags</label>
                        <input type="text" class="form-control" id="flags" name="flags" value="{{user.flags}}">
                    </div>
                    <div class="mb-3">
                        <label for="banner" class="form-label">Banner</label>
                        <input type="text" class="form-control" id="banner" name="banner" value="{{user.banner}}">
                    </div>
                    <div class="mb-3">
                        <label for="accent_color" class="form-label">Accent Color</label>
                        <input type="text" class="form-control" id="accent_color" name="accent_color" value="{{user.accent_color}}">
                    </div>
                    <div class="mb-3">
                        <label for="global_name" class="form-label">Global Name</label>
                        <input type="text" class="form-control" id="global_name" name="global_name" value="{{user.global_name}}">
                    </div>
                    <div class="mb-3">
                        <label for="avatar_decoration_data" class="form-label">Avatar Decoration Data</label>
                        <input type="text" class="form-control" id="avatar_decoration_data" name="avatar_decoration_data" value="{{user.avatar_decoration_data}}">
                    </div>
                    <div class="mb-3">
                        <label for="banner_color" class="form-label">Banner Color</label>
                        <input type="text" class="form-control" id="banner_color" name="banner_color" value="{{user.banner_color}}">
                    </div>
                    <div class="mb-3">
                        <label for="mfa_enabled" class="form-label">MFA Enabled</label>
                        <input type="text" class="form-control" id="mfa_enabled" name="mfa_enabled" value="{{user.mfa_enabled}}">
                    </div>
                    <div class="mb-3">
                        <label for="locale" class="form-label">Locale</label>
                        <input type="text" class="form-control" id="locale" name="locale" value="{{user.locale}}">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
